
html {
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.row {
  display: flex;
}

.header-font{
  margin-left: 20px;
  color: #ffffff;
  font-family: 'Bebas Neue';
  
}

.header-font-black{
  margin-left: 20px;
  color: #000000;
  font-family: 'Bebas Neue';
}

.uri{
  height: 100px;
  width: 100px;
  margin: auto;
}
.uni-content{
  margin: auto;
}
.uml{
  height: 100px;
  width: 80px; 
  margin: auto;
}
.uni-padding{
  text-align: center;
}

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  overflow: auto;
  text-align: center;
  background-image: url('f5.jpg');
  background-position-x: center;
  background-size: 100% 100%;
  font-weight: bold;
  color: aliceblue;
}

.row{
  padding-top: 3%;
  padding-left: 10px;
  padding-right: 10px;
  
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.column {
  float: left;
  width: 50%;
  padding: 20px;
  height: 300px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.experience-pictures{
  padding: 2%;
  width: 150px;
  height: 150px;
  margin: auto;
  
}

.profile-photo{
  width: 50%;
  border-radius: 50%;
  margin-top: 10%;
  margin-bottom: 20px;
  border: 6px solid #ddd;
}

.tab{
  display: inline-block;
    margin-left: 30px;
}


.content{ 
  margin-left: 300px;
}

.sections{
  height: 100%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
}

#section1{
  padding-top: 2%;
  background-color: #1980c5;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
#section2{
  padding-top: 2%;
  background-color: #f1b900;
  background-image: url("https://www.transparenttextures.com/patterns/grey-washed-wall.png");
}
#section3{
  padding-top: 2%;
  background-color: #1980c5;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

#section4{
  padding-top: 2%;
  background-color: #f1b900;
  background-image: url("https://www.transparenttextures.com/patterns/grey-washed-wall.png");
}

#section5{
  padding-top: 2%;
  background-color: #1980c5;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}


.sidebuttons {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 4px 2px 4px #000;
  
}


.sidebar a:hover:not(.active) {
  background-color: #1980c5;
  color: rgb(255, 255, 255);
  text-decoration: none;
}



@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    
  }
  .sidebar a {float: left;}
  .sidebuttons{display: none;}
  div.content {margin-left: 0;}
  

}

@media screen and (max-width:1000px){
  .col-sm-12{padding-bottom: 3%;}
  
  .col-sm-4{
    padding-bottom: 3%;
  }

  .col-md-12{
    padding-bottom: 3%;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  
}

@media screen and (max-width: 700px) {
  .titles2{
    font-size: 13px;
  }
}



#testimonials{
  text-align: center;
  height: 430px;
  width: 450px;
}

.programming{
  margin: auto;
}

.date{
  float: right;
}

.date2{
  display: inline-block;
    margin-left: 21rem;
}

.tools-img{
  width: 40px;
}

.eje {
  color: #000000;
  text-decoration: none;
}

.eje:hover 
{
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}

.card-titles{
  color: #2873c9;
  text-decoration: none;
  font-size:17px;
  font-family: 'Zilla Slab';
  font-weight: bold;
}

.card-titles:hover{
  color: #023269;
  text-decoration: none;
  text-decoration-color: rgb(0, 0, 0);
}

.titles{
  font-family: 'IBM Plex Serif';
  font-weight: bold;
}

.titles2{
  font-family: 'IBM Plex Serif';
  font-weight: bold;
}

.contact-font{
  font-family: 'IBM Plex Serif';
  text-decoration: none;
  color: #4d4646; 
}

